/* ------------------------------ */
/* Hide Activities in Friend List */
/* ------------------------------ */

/* hide Active Now column */
.nowPlayingColumn__133bf {display: none}


/* hide status until hovered over */
.peopleListItem_cc6179 {
    .subtext__0a06e {display: none; margin: 5px}

    &:hover {
        .subtext__0a06e {
            display: block;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
    }

/* format status and username horizontally to fill up empty space */
    .userInfo__0a06e {
        max-width: 90%;

        .text__0a06e {
            font-size: 105%;
            flex-direction: row;
            align-items: center;
            padding: 5px 5px 5px 5px; 
        }
    }
    
}    

/* -------------------------- */
/* Hide Activities on Profile */
/* -------------------------- */

/* hide activity board and shrink background */
[class^="root"] {
  max-width: 45%;
}

.layoutContainer__9c3be {
    max-width: 100%;
    margin: auto;
    
    .inner_c0bea0 {
      padding: 14px !important;
    }
        .profile__9c3be {
            width: 100%;
            border-radius: var(--radius-lg);
            }
        
        .container__37bfc {display: none}
}

/* hide game collection */
[aria-label="Game Collection"] {display: none}

/* ------------------------------ */
/* Hide Activities in Member List */
/* ------------------------------ */

/* hide activity list */
h3:has(.headerContainer__095fe) {display: none}

.container__0f2e8 {display: none}

/* hide status until hover */
.memberInner__5d473 {
        .subText__91a9d {
            display: none;
        }

        &:hover {
            .subText__91a9d {display: flex}
        }
}
